@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
/* Additional resets */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  margin: 0;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

input {
  padding: 0;
  border-width: rem(1);
}

button {
  appearance: none !important;
  outline: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  box-sizing: border-box;
  font-size: 16px;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 0.0625rem dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -0.125rem;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.button_white, .card_button, .form_button, .button_black, .button_orange {
  cursor: pointer;
  border: none;
  margin: 0;
  border-radius: 0.5rem;
  text-align: center;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.plans_number, .ideas_list .ideas_number {
  position: absolute;
  z-index: -1;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  color: #f4f4f4;
  font-size: 7.25rem;
  line-height: 7.25rem;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1,
h3,
button {
  font-family: "Arial", sans-serif;
  color: #333333;
}

h2,
h4 {
  color: #111111;
}

section {
  padding: 4rem 0 4rem 0;
}
@media screen and (min-width: 80rem) {
  section {
    padding: 10rem 0 10rem 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1.25rem;
}
@media screen and (min-width: 48rem) {
  .container {
    width: 48rem;
    padding: 0 1.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .container {
    width: 80rem;
  }
}

.make_grid {
  display: grid;
}

.make_center {
  justify-content: center;
}

.padding_bottom_0 {
  padding-bottom: 0;
}

.title_line::after {
  content: "";
  margin-left: 16px;
  background-color: #111111;
  display: inline-block;
  width: 3rem;
  height: 0.0625rem;
}

.invers_text {
  color: #fff;
}

.text_12 {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.text_14 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text_16 {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 80rem) {
  .text_16 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.text_18 {
  font-size: 1.125rem;
  line-height: 2rem;
}

.text_20 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text_24 {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 80rem) {
  .text_24.desktop {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

.text_32 {
  font-size: 2rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 80rem) {
  .text_32 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}

.text_36 {
  font-size: 2.25rem;
  line-height: 2.25rem;
}
@media screen and (min-width: 48rem) {
  .text_36 {
    font-size: 5rem;
    line-height: 5rem;
  }
}
@media screen and (min-width: 80rem) {
  .text_36 {
    font-size: 7.25rem;
    line-height: 7.25rem;
  }
}

.text_80 {
  font-size: 5rem;
  line-height: 5rem;
}

.header {
  padding-top: 0;
  padding-bottom: 4.5rem;
}
@media screen and (min-width: 48rem) {
  .header {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 48rem) {
  .header {
    padding-bottom: 5rem;
  }
}
.header .container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.header .button_black {
  display: none;
}
@media screen and (min-width: 48rem) {
  .header .button_black {
    display: block;
  }
}

.header_logo_img {
  max-width: 8.875rem;
}
@media screen and (min-width: 80rem) {
  .header_logo_img {
    max-width: 12.5rem;
  }
}

.language_dropdown {
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: flex-end;
  gap: 0.625rem;
}

.language_img {
  width: 1.25rem;
  height: 1.25rem;
}

.language_select {
  color: #ffffff;
  background-color: inherit;
  border: none;
  outline: none;
}

.language_select:hover {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #e85e23;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.09));
}

.language_option:hover {
  cursor: pointer;
  color: #e85e23;
}

.hero {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: 1rem;
  padding-bottom: 5.625rem;
  background-color: #111111;
}
@media screen and (min-width: 48rem) {
  .hero {
    padding-top: 1.5rem;
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    padding-top: 2rem;
    padding-bottom: 10.75rem;
  }
}
.hero .container.container_hero {
  gap: 3rem;
}
@media screen and (min-width: 48rem) {
  .hero .container.container_hero {
    gap: 3.5rem;
  }
}
.hero::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 26.875rem;
  background-image: url("./../images/pattern_hero1.png");
}
@media screen and (min-width: 48rem) {
  .hero::before {
    min-height: 35.625rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero::before {
    min-height: 38.75rem;
  }
}
.hero::after {
  position: absolute;
  z-index: -1;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 35.625rem;
  height: 36.75rem;
  background-image: url("./../images/pattern_hero2.png");
  top: 0.75rem;
  filter: blur(2px);
}
@media screen and (min-width: 48rem) {
  .hero::after {
    left: 28.5rem;
    top: -4.75rem;
    filter: blur(7px);
    transform: rotate(8.12deg);
  }
}
@media screen and (min-width: 80rem) {
  .hero::after {
    width: 73.75rem;
    height: 73.75rem;
    left: 25rem;
    top: -12.5rem;
    filter: blur(4px);
    transform: rotate(-20deg);
  }
}

.hero_title {
  color: #ffffff;
}

.hero_list {
  position: relative;
  z-index: 11;
  display: grid;
  gap: 2rem;
  padding-left: 1.25rem;
  color: #ffffff;
  list-style: url("./../images/list_elipse.svg");
}
.hero_list .item {
  padding-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .hero_list {
    grid-auto-flow: column;
  }
}
@media screen and (min-width: 80rem) {
  .hero_list {
    grid-template-columns: 1fr 1fr 1.2fr 1fr;
    gap: 4rem;
  }
}

.button_wrapper {
  position: relative;
  z-index: 11;
  display: grid;
  grid-auto-flow: column;
  gap: 0.75rem;
  justify-self: start;
}
@media screen and (min-width: 48rem) {
  .button_wrapper {
    gap: 2rem;
  }
}

.button_orange {
  padding: 0.75rem 1.5rem;
  color: #ffffff;
  background-color: #e85e23;
}
.button_orange:hover, .button_orange:focus {
  color: #e85e23;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 0.0625rem;
}
@media screen and (min-width: 22.75rem) {
  .button_orange {
    padding: 0.75rem 2.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .button_orange {
    padding: 0.75rem 3.5rem;
  }
}

.button_black {
  padding: 0.75rem 1.5rem;
  box-shadow: 0px 0px 0px 0.0625rem;
  color: #e85e23;
  background-color: #111111;
}
.button_black:hover, .button_black:focus {
  color: #ffffff;
  background-color: #e85e23;
  box-shadow: none;
}
@media screen and (min-width: 22.75rem) {
  .button_black {
    padding: 0.75rem 2.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .button_black {
    padding: 0.75rem 3.5rem;
  }
}
@media screen and (min-width: 48rem) {
  .button_black {
    padding: 0.75rem 3.5rem;
  }
}

.about .container {
  align-items: start;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .about .container {
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
}

.wrapper_about_title {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 80rem) {
  .wrapper_about_title {
    gap: 2rem;
  }
}

.wrapper_about_desc {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 80rem) {
  .wrapper_about_desc {
    gap: 2.5rem;
  }
}

.about_subtitle {
  color: #111111;
  display: flex;
  align-items: center;
}
.about_text {
  font-weight: 400;
  color: #333333;
}
.ideas .container {
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .ideas .container {
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

.ideas_subtitle {
  display: flex;
  align-items: center;
}
.wrapper_ideas {
  gap: 4.5rem;
}
@media screen and (min-width: 80rem) {
  .wrapper_ideas {
    gap: 5rem;
  }
}

.ideas_title {
  font-weight: 400;
}

.ideas_list {
  display: grid;
  gap: 4rem;
  justify-self: end;
  padding-left: 6rem;
}
@media screen and (min-width: 48rem) {
  .ideas_list {
    padding-left: 5.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .ideas_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 8rem;
    row-gap: 5rem;
  }
}
.ideas_list .ideas_item {
  position: relative;
}
.ideas_list .ideas_number {
  top: -2.5rem;
  left: -6rem;
}
@media screen and (min-width: 48rem) {
  .ideas_list .ideas_number {
    top: -2.5rem;
    left: -6rem;
  }
}
@media screen and (min-width: 80rem) {
  .ideas_list .ideas_number {
    top: -2.75rem;
    left: -5.5rem;
  }
}

.about_work_list {
  display: grid;
  gap: 3rem;
}
@media screen and (min-width: 80rem) {
  .about_work_list {
    gap: 4.5rem;
  }
}

.work_list_item {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .work_list_item {
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

.description_list {
  display: grid;
  gap: 1rem;
  padding-left: 1rem;
  list-style: url("./../images/list_elipse.svg");
}
.description_list .item {
  padding-left: 1rem;
}

.about_work_img {
  width: 100vw;
}
@media screen and (min-width: 48rem) {
  .about_work_img {
    grid-column: 2/2;
  }
}

.benefits .make_grid {
  align-items: start;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .benefits .make_grid {
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
.benefits .wrapper_benefits_title {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 80rem) {
  .benefits .wrapper_benefits_title {
    gap: 2rem;
  }
}
.benefits .wrapper_benefits_desc {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 80rem) {
  .benefits .wrapper_benefits_desc {
    gap: 2.5rem;
  }
}
.benefits .wrapper {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .benefits .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 80rem) {
  .benefits .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
  }
}

.benefits_subtitle {
  display: flex;
  align-items: center;
}

.number_wrapper {
  display: flex;
  align-items: center;
  gap: 1.125rem;
}

.number_black {
  font-family: Arial;
  font-weight: 700;
}

.contact_us {
  background-color: #111111;
}
.contact_us .container {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .contact_us .container {
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
.contact_us .container .title_line::after {
  background-color: #ffffff;
}

.wrapper_form {
  display: grid;
  gap: 2rem;
}

.contact_us_form {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .contact_us_form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .contact_us_form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.contact_us_subtitle {
  display: flex;
  align-items: center;
}

.contact_us_title {
  font-weight: 400;
}

.list_input {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .list_input {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media screen and (min-width: 80rem) {
  .list_input {
    gap: 2.75rem;
  }
}

.text_label {
  display: inline-block;
}

.form_input {
  display: block;
  padding: 1rem 0 0.5rem 0;
  width: 100%;
  background-color: inherit;
  border: 0.0625rem solid transparent;
  border-bottom-color: #ffffff;
  color: #ffffff;
  transition: border-bottom-color 0.2s ease-in-out;
}
.form_input:hover, .form_input:focus, .form_input:not(:placeholder-shown) {
  outline: none;
  border-bottom-color: #474747;
}

.form_button {
  width: 100%;
  color: #ffffff;
  background-color: #e85e23;
  padding: 0.75rem 3.5rem;
  justify-self: start;
  align-self: end;
}
.form_button:hover, .form_button:focus {
  color: #e85e23;
  background-color: #ffffff;
  box-shadow: 0 0 0 0.0625rem #e85e23;
}
@media screen and (min-width: 48rem) {
  .form_button {
    max-width: 12.5rem;
    grid-row-start: 2;
    grid-column-start: 1;
  }
}
@media screen and (min-width: 80rem) {
  .form_button.contact_us {
    align-self: start;
    grid-row-start: 1;
    grid-column-start: 3;
  }
}

.form_consent {
  color: #c4c4c4;
}
@media screen and (max-width: 48rem) {
  .form_consent {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 48rem) {
  .form_consent {
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: center;
  }
}
@media screen and (min-width: 80rem) {
  .form_consent.contact_us {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: start;
  }
}
.form_consent .accent {
  color: #e85e23;
}
.form_consent .accent:hover,
.form_consent .accent :focus {
  text-decoration: underline;
}

.wrapper_leave_comment {
  display: grid;
  gap: 1rem;
}

.form_leave_comment {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .form_leave_comment {
    display: grid;
    row-gap: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .form_leave_comment {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (min-width: 48rem) {
  .leave_comment .container {
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .leave_comment .container {
    column-gap: 13.5rem;
  }
}

.contact_us_description {
  font-family: Arial;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #c4c4c4;
}

.list_leave_comment {
  display: grid;
  gap: 2rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

.label_wrapper {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .label_wrapper {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
  }
}
@media screen and (min-width: 80rem) {
  .label_wrapper {
    gap: 4rem;
  }
}

.wrapper_button {
  display: grid;
  row-gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .wrapper_button {
    row-gap: 0;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1.1fr;
  }
}
@media screen and (min-width: 80rem) {
  .wrapper_button {
    grid-column-start: span 2;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 80rem) {
  .form_consent.leave_comment {
    max-width: 23.875rem;
  }
}

.form_error {
  position: absolute;
  color: #ff0000;
  text-align: left;
  font-size: 0.625rem;
  line-height: 1rem;
  display: block;
  margin-top: 2px;
  display: none;
}

.form_error_mark {
  position: absolute;
  content: "";
  color: #ff0000;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: none;
}

input:invalid:not(:placeholder-shown) {
  border-bottom-color: #ff0000;
}

input:invalid:not(:placeholder-shown) + .form_error {
  display: block;
}

input:invalid:not(:placeholder-shown) + .form_error_mark {
  display: block;
}

.subscription_plans .container {
  display: grid;
  gap: 4rem;
}
@media screen and (min-width: 80rem) {
  .subscription_plans .container {
    gap: 10rem;
  }
}

.subscription_plans_wrapper {
  display: grid;
  gap: 4rem;
}
@media screen and (min-width: 48rem) {
  .subscription_plans_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

.wrapper_subscription_title {
  display: grid;
  gap: 1rem;
  align-content: start;
}
@media screen and (min-width: 80rem) {
  .wrapper_subscription_title {
    gap: 2.5rem;
  }
}

.sub_plans_subtitle {
  display: flex;
  align-items: center;
}

.sub_plans_list {
  display: grid;
  gap: 3.5rem;
  padding-left: 3.5rem;
}
@media screen and (min-width: 48rem) {
  .sub_plans_list {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .sub_plans_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5.5rem;
    row-gap: 6.25rem;
  }
}

.plans_item {
  position: relative;
}

.plans_number {
  top: -28px;
  left: -56px;
}
@media screen and (min-width: 48rem) {
  .plans_number {
    top: -28px;
    left: -56px;
  }
}
@media screen and (min-width: 80rem) {
  .plans_number {
    top: -28px;
    left: -56px;
  }
}

.plans_cards {
  text-align: center;
  display: grid;
  gap: 2.25rem;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .plans_cards {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 80rem) {
  .plans_cards {
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
  }
}

.card {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 0.0625rem solid #c4c4c4;
  border-radius: 0.375rem;
}
.card:hover, .card:focus {
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.09);
}
@media screen and (min-width: 48rem) {
  .card {
    padding: 3rem 3rem;
    gap: 2.5rem;
  }
}

.wrapper_title_card {
  display: grid;
  gap: 1rem;
}

.card_title {
  color: #333333;
}

.payment_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price {
  color: #333333;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
}
.price .price_dollar {
  font-size: 0.875rem;
  line-height: 0.875rem;
}
.price .price_sub {
  vertical-align: super;
  font-size: 1rem;
  line-height: 2rem;
}

.price_per {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.card_list {
  display: grid;
  gap: 1rem;
  justify-items: start;
}
.card_list .item {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
}
.card_list .item::before {
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  background-color: #c4c4c4;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 0px 0.0625rem #c4c4c4;
}
.card_list .item.accent_item::before {
  background-color: #e85e23;
  border: 4px solid #ffffff;
  box-shadow: 0px 0px 0px 0.0625rem #e85e23;
}

.card_button {
  min-width: 12.5rem;
  color: #ffffff;
  background-color: #e85e23;
  padding: 0.75rem 3.5rem;
  justify-self: center;
}
.card_button:hover, .card_button:focus {
  color: #e85e23;
  background-color: #ffffff;
  box-shadow: 0 0 0.0625rem 0.0625rem #e85e23;
}

.payment_text {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.payment_price {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2rem;
}
.payment_price .payment_price_dollar {
  font-size: 0.875rem;
  line-height: 0.875rem;
}
.payment_price .payment_price_sub {
  vertical-align: super;
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.portfolio {
  background-color: #111111;
}
.portfolio .container {
  padding: 0 0 0 1.25rem;
}
@media screen and (min-width: 48rem) {
  .portfolio .container {
    display: grid;
    gap: 2rem;
    align-items: start;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
.portfolio .container .title_line::after {
  background-color: #ffffff;
}
@media screen and (max-width: 47.875rem) {
  .portfolio .portfolio_title {
    margin-bottom: 2rem;
  }
}
.portfolio .carousel__slide {
  padding: 1rem 0.5rem 1rem 0.5rem;
  width: var(--carousel-slide-width);
}
@media screen and (min-width: 48rem) {
  .portfolio .carousel__slide {
    width: var(--carousel-slide-width, 70%);
  }
}
@media screen and (min-width: 80rem) {
  .portfolio .carousel__slide {
    padding: 1rem;
    width: var(--carousel-slide-width, 40%);
  }
}

.wrapper_portfolio_title {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 80rem) {
  .wrapper_portfolio_title {
    gap: 2rem;
  }
}

.portfolio_subtitle {
  display: flex;
  align-items: center;
}

.carousel_subtitle {
  display: flex;
  align-items: center;
}
.carousel_subtitle::before {
  content: "";
  margin-right: 16px;
  background-color: #ffffff;
  display: inline-block;
  width: 3rem;
  height: 0.0625rem;
}

.carousel_link {
  display: grid;
  row-gap: 1.5rem;
}

.carousel_number {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #c4c4c4;
}
@media screen and (max-width: 47.875rem) {
  .carousel_number {
    margin-left: 75%;
  }
}
@media screen and (min-width: 48rem) {
  .carousel_number {
    margin-left: 80%;
  }
}

#myCarousel {
  --carousel-button-width: rem(24);
  --carousel-button-height: rem(24);
  --carousel-button-svg-width: rem(24);
  --carousel-button-svg-height: rem(24);
  color: #c4c4c4;
}

.carousel__button.is-prev {
  z-index: 10;
  left: 70%;
}

.carousel__button.is-next {
  z-index: 10;
  right: 9%;
}
@media screen and (min-width: 48rem) {
  .carousel__button.is-next {
    right: 16%;
  }
}
@media screen and (min-width: 80rem) {
  .carousel__button.is-next {
    right: 17.5%;
  }
}

.carousel__button.is-prev,
.carousel__button.is-next {
  top: 97%;
  transition: 0.2s ease-in-out;
}
.carousel__button.is-prev:hover,
.carousel__button.is-next:hover {
  color: #ffffff;
}

.reviews .container {
  padding: 0 0 0 1.25rem;
}
@media screen and (min-width: 48rem) {
  .reviews .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

#carousel_reviews {
  --carousel-button-width: rem(24);
  --carousel-button-height: rem(24);
  --carousel-button-svg-width: rem(24);
  --carousel-button-svg-height: rem(24);
  color: #c4c4c4;
}

.carousel_reviews .carousel_number {
  color: #111111;
  font-size: 1rem;
  line-height: 1.5rem;
}
.carousel_reviews .carousel__nav {
  position: relative;
  top: -16px;
  left: 32px;
}
.carousel_reviews .carousel__button.is-prev:hover,
.carousel_reviews .carousel__button.is-next:hover {
  color: #111111;
}
.carousel_reviews .carousel__button.is-prev {
  left: 44.5rem;
}
.carousel_reviews .carousel__button.is-next {
  right: 2rem;
}

.carousel_reviews .carousel__slide {
  padding-top: 34px;
  padding-left: 42px;
  width: var(--carousel-slide-width, 100%);
}
@media screen and (min-width: 48rem) {
  .carousel_reviews .carousel__slide {
    width: var(--carousel-slide-width, 80%);
  }
}
@media screen and (min-width: 80rem) {
  .carousel_reviews .carousel__slide {
    width: var(--carousel-slide-width, 50%);
  }
}

.reviews_subtitle {
  display: flex;
  align-items: center;
}

.reviews_description {
  position: relative;
  margin-bottom: 1.5rem;
}
.reviews_description::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline-block;
  width: 7rem;
  height: 6rem;
  top: -34px;
  left: -42px;
  background-image: url("./../images/quotes.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.reviews_caption {
  display: flex;
  align-items: center;
  font-family: Arial;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #111111;
}
.reviews_caption::before {
  content: "";
  margin-right: 16px;
  background-color: #111111;
  display: inline-block;
  width: 3rem;
  height: 0.0625rem;
}

.answers .container {
  display: grid;
  gap: 2rem;
  align-items: start;
}
@media screen and (min-width: 48rem) {
  .answers .container {
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

.wrapper_answers_title {
  display: grid;
  gap: 1rem;
}

.answers_subtitle {
  display: flex;
  align-items: center;
}

.answers_list {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 48rem) {
  .answers_list {
    gap: 1.5rem;
  }
}
.answers_list .accordion_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button_accordion {
  border: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #111111;
  padding: 1.5rem 0 0 0;
  background-color: inherit;
  text-align: left;
  color: #333333;
  font-family: Arial;
  font-size: 1.25rem;
  line-height: 1.75rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 80rem) {
  .button_accordion {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2rem 0 0 0;
  }
}

.active_accordion,
.button_accordion :focus {
  border: 0;
}

.button_accordion:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  background-image: url("./../images/up_arrow.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.active_accordion:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  background-image: url("./../images/down_arrow.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.footer {
  padding: 2.5rem 0 2.5rem 0;
  background-color: #111111;
}
.footer .container {
  display: grid;
  gap: 2.5rem;
}

.footer_wrapper {
  display: grid;
}
@media screen and (min-width: 48rem) {
  .footer_wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 8.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer_wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.footer_wrapper .footer_title {
  font-size: 1rem;
  line-height: 1.5rem;
}

.title_footer_wrapper {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.info_list {
  display: grid;
  gap: 0.5rem;
}

.contacts_list {
  display: grid;
  gap: 0.5rem;
}

.button_footer {
  align-self: start;
  justify-self: center;
}

.footer_copyright {
  text-align: center;
}

.section_404 {
  position: relative;
  padding: 14.375rem 0;
}
@media screen and (min-width: 48rem) {
  .section_404 {
    padding: 12.5rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .section_404 {
    padding: 8.625rem 0;
  }
}
.section_404 .container {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .section_404 .container {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .section_404 .container {
    gap: 2.5rem;
  }
}
.section_404::before {
  z-index: -1;
  position: absolute;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  min-width: 33.5rem;
  min-height: 37.5rem;
  background-image: url(./../images/404_befor.png);
  filter: blur(10px);
  left: -13.25rem;
  bottom: 21.25rem;
}
@media screen and (min-width: 48rem) {
  .section_404::before {
    top: 20.25rem;
    right: 25rem;
  }
}
@media screen and (min-width: 80rem) {
  .section_404::before {
    min-width: 50.25rem;
    min-height: 56.25rem;
  }
}
.section_404::after {
  z-index: -1;
  position: absolute;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url(./../images/pattern_hero2.png);
  min-width: 35.625rem;
  min-height: 36.75rem;
  filter: blur(7px);
  left: -12.875rem;
  bottom: -0.75rem;
}
@media screen and (min-width: 48rem) {
  .section_404::after {
    min-width: 75rem;
    min-height: 35.625rem;
    left: -25rem;
    bottom: 18.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .section_404::after {
    min-height: 38.75rem;
    left: 68.75rem;
  }
}

.wrapper_title_404 {
  display: grid;
  gap: 3rem;
  justify-self: center;
}
@media screen and (min-width: 80rem) {
  .wrapper_title_404 {
    gap: 4.5rem;
  }
}

.title_404 {
  font-family: Montserrat;
  font-size: 9.375rem;
  line-height: 9.375rem;
  color: #000000;
  justify-self: center;
}
@media screen and (min-width: 48rem) {
  .title_404 {
    font-size: 12.5rem;
    line-height: 12.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .title_404 {
    font-size: 18.75rem;
    line-height: 18.75rem;
  }
}

.desc_404 {
  font-weight: 700;
  color: #333333;
  justify-self: center;
}

.wrapper_button_404 {
  display: grid;
  gap: 0.75rem;
  justify-self: center;
  grid-auto-flow: column;
}
@media screen and (min-width: 48rem) {
  .wrapper_button_404 {
    gap: 2rem;
  }
}

.button_white {
  padding: 0.75rem 2.25rem;
  box-shadow: 0px 0px 0px 0.0625rem;
  color: #e85e23;
  background-color: #ffffff;
}
.button_white:hover, .button_white:focus {
  color: #ffffff;
  background-color: #e85e23;
  box-shadow: none;
}
@media screen and (min-width: 48rem) {
  .button_white {
    padding: 0.75rem 3.5rem;
  }
}

.header.header_portfolio {
  padding: 0.75rem 0 0.75rem 0;
  background-color: black;
}

.banner {
  padding: 0;
  display: flex;
  justify-content: center;
}

.about_project .container {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .about_project .container {
    grid-template-columns: 1fr 2fr;
  }
}

.wrapper_about_project {
  display: grid;
  gap: 1.5rem;
}

.about_subtitle {
  align-self: start;
}

.tasks .container {
  display: grid;
  gap: 4rem;
}
@media screen and (min-width: 48rem) {
  .tasks .container {
    gap: 5.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .tasks .container {
    gap: 10rem;
  }
}
.tasks .wrapper_tasks_title {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .tasks .wrapper_tasks_title {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 48rem) {
  .tasks .ideas_list {
    gap: 5.75rem;
  }
}
.tasks .ideas_number {
  top: -2.5rem;
  left: -5.625rem;
}

.wrapper_tasks {
  display: grid;
  gap: 4.5rem;
}

.adaptation .container {
  display: grid;
  gap: 2rem;
}

.wrapper_title_text {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .wrapper_title_text {
    grid-template-columns: 1fr 2fr;
  }
}

.wrapper_adaptation {
  display: grid;
  gap: 2.5rem;
}
@media screen and (min-width: 48rem) {
  .wrapper_adaptation {
    gap: 4rem;
  }
}

.wrapper_images {
  display: grid;
  gap: 2.5rem;
  justify-items: center;
}
@media screen and (min-width: 48rem) {
  .wrapper_images {
    gap: 4rem;
  }
}
@media screen and (min-width: 80rem) {
  .wrapper_images {
    gap: 11.875rem;
    grid-auto-flow: column;
  }
}
@media screen and (min-width: 80rem) {
  .wrapper_images .adaptiv_img {
    grid-column-start: 2;
  }
}

.wrapper_adaptation_title {
  display: grid;
  gap: 1.5rem;
}

.wrapper_table_link {
  display: grid;
  gap: 2.5rem;
}
@media screen and (min-width: 48rem) {
  .wrapper_table_link {
    grid-auto-flow: column;
    gap: 7rem;
  }
}

.adaptation_link {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adaptation_link::after {
  content: "";
  background-image: url("./../images/arrow_r.svg");
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.wrapper_link_desc {
  display: grid;
  gap: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .wrapper_link_desc {
    justify-items: start;
  }
}

.adaptation_desc {
  text-align: center;
}

.wrapper_link {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.adaptation_link_previous,
.adaptation_link_next {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0px 0px 0px 0.0625rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.adaptation_link_previous {
  color: #e85e23;
  padding: 0.75rem 1.25rem;
}
@media screen and (min-width: 48rem) {
  .adaptation_link_previous {
    padding: 0.75rem 3rem;
  }
}
.adaptation_link_previous:hover,
.adaptation_link_previous :focus {
  background-color: #e85e23;
  color: #ffffff;
}
.adaptation_link_previous::before {
  content: "";
  background-image: url("./../images/arrow_left.svg");
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.adaptation_link_next {
  color: #ffffff;
  background-color: #e85e23;
  padding: 0.75rem 2rem;
}
@media screen and (min-width: 48rem) {
  .adaptation_link_next {
    padding: 0.75rem 3rem;
  }
}
.adaptation_link_next:hover,
.adaptation_link_next :focus {
  color: #e85e23;
  background-color: #ffffff;
}
.adaptation_link_next::after {
  content: "";
  background-image: url("./../images/arrow_next_w.svg");
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.payment {
  padding: 3.5rem 0 5rem 0;
}
.payment .container {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .payment .container {
    grid-template-columns: 1fr 2fr;
  }
}

.payment_info_list {
  display: grid;
  gap: 2rem;
  align-content: start;
}

.item_link {
  font-weight: 700;
}
.item_link:hover,
.item_link :focus {
  color: #e85e23;
  text-decoration: underline;
}

.wrapper_payment_desc {
  display: grid;
  gap: 2.5rem;
}

.payment_desc {
  font-size: 1rem;
  line-height: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
