body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1,
h3,
button {
  font-family: "Arial", sans-serif;
  color: $title_color;
}

h2,
h4 {
  color: $black;
}

section {
  padding: rem(64) 0 rem(64) 0;

  @media screen and (min-width: rem($desktop)) {
    padding: rem(160) 0 rem(160) 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 rem(20);

  @media screen and (min-width: rem($tablet)) {
    width: rem($tablet);
    padding: 0 rem(28);
  }
  @media screen and (min-width: rem($desktop)) {
    width: rem($desktop);
  }
}

.make_grid {
  display: grid;
}

.make_center {
  justify-content: center;
}

.padding_bottom_0 {
  padding-bottom: 0;
}

.title_line::after {
  content: "";
  margin-left: 16px;
  background-color: $black;
  display: inline-block;
  width: rem(48);
  height: rem(1);
}

.invers_text {
  color: #fff;
}
