body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1,
h3,
button {
  font-family: "Arial", sans-serif;
  color: $title_color;
}

h2,
h4 {
  color: $black;
}

section {
  padding: rem(64) 0 rem(64) 0;

  @media screen and (min-width: rem($desktop)) {
    padding: rem(160) 0 rem(160) 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 rem(20);

  @media screen and (min-width: rem($tablet)) {
    width: rem($tablet);
    padding: 0 rem(28);
  }
  @media screen and (min-width: rem($desktop)) {
    width: rem($desktop);
  }
}

.make_grid {
  display: grid;
}

.make_center {
  justify-content: center;
}

.padding_bottom_0 {
  padding-bottom: 0;
}

.title_line::after {
  content: "";
  margin-left: 16px;
  background-color: $black;
  display: inline-block;
  width: rem(48);
  height: rem(1);
}

.invers_text {
  color: #fff;
}

.add_before_pattern {
  &::before {
    position: absolute;
    z-index: 1;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url("./../images/pattern_hero1.png");
    filter: blur(6px);
    transform: rotate(82.58deg);
    width: rem(474);
    height: rem(530);
    bottom: -50%;

    @media screen and (min-width: rem($tablet)) {
      bottom: -70%;
    }
    @media screen and (min-width: rem($desktop)) {
      width: rem(800);
      height: rem(900);
      filter: blur(10px);
    }
  }
}

.add_after_pattern {
  &::after {
    position: absolute;
    z-index: 1;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: rem(800);
    height: rem(900);
    background-image: url("./../images/pattern_hero2.png");
    bottom: 40%;
    left: 0;

    filter: blur(10px);
    transform: rotate(82.58deg);

    @media screen and (min-width: rem($tablet)) {
      left: 45%;
    }
    @media screen and (min-width: rem($desktop)) {
      left: 75%;
    }
  }
}
