body {
  margin: 0;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  background-color: rgb(146, 228, 228);
}

.container {
  border: solid;

  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  min-height: inherit;

  width: rem($mobile_screen);

  @media screen and (min-width: rem($tablet_screen)) {
    width: rem($tablet_screen);
  }
  @media screen and (min-width: rem($desktop_screen)) {
    width: rem($desktop_screen);
  }
}

.font_family {
  font-family: Montserrat, sans-serif;
}
