%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%link-decoration {
  display: inline-block;
  margin-top: 0;
  text-decoration: none;
}

%button {
  margin: 0;
  border: transparent;
  border-radius: rem(8);
  padding: rem(12) rem(36);

  text-align: center;

  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}
