%button {
  cursor: pointer;
  margin: 0;
  border: none;
  // color: $accent_color;
  border-radius: rem(8);

  text-align: center;

  transition: color $transition, background-color $transition,
    box-shadow $transition;
}

%absolute_number {
  position: absolute;
  z-index: -1;

  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  color: $text_color_secondary;
  font-size: rem(116);
  line-height: rem(116);
}
