.text_12 {
  font-size: rem(12);
  line-height: rem(20);
}
.text_14 {
  font-size: rem(14);
  line-height: rem(20);
}

.text_16 {
  font-size: rem(16);
  line-height: rem(24);
}

.text_18 {
  font-size: rem(18);
  line-height: rem(32);
}
.text_20 {
  font-size: rem(20);
  line-height: rem(28);
}
.text_24 {
  font-size: rem(24);
  line-height: rem(32);
}
.text_32 {
  font-size: rem(32);
  line-height: rem(40);
}
.text_36 {
  font-size: rem(36);
  line-height: rem(36);
}
.text_80 {
  font-size: rem(80);
  line-height: rem(80);
}
.text_116 {
  font-size: rem(116);
  line-height: rem(116);
}
