$accent_color: #e85e23;
$title_color: #333333;
$text_color: #474747;
$text_color_secondary: #f4f4f4;
$white: #ffffff;
$black: #111111;

$transition: 0.2s ease-in-out;
// Screen width

$tablet: 768;
$desktop: 1280;
