.section_404 {
  position: relative;
  padding: rem(230) 0;

  @media screen and (min-width: rem($tablet)) {
    padding: rem(200) 0;
  }
  @media screen and (min-width: rem($desktop)) {
    padding: rem(138) 0;
  }

  .container {
    display: grid;
    gap: rem(32);

    @media screen and (min-width: rem($tablet)) {
      gap: rem(24);
    }
    @media screen and (min-width: rem($desktop)) {
      gap: rem(40);
    }
  }

  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    min-width: rem(536);
    min-height: rem(600);
    background-image: url(./../images/404_befor.png);
    filter: blur(10px);

    left: rem(-212);
    bottom: rem(340);

    @media screen and (min-width: rem($tablet)) {
      top: rem(324);
      right: rem(400);
    }
    @media screen and (min-width: rem($desktop)) {
      min-width: rem(804);
      min-height: rem(900);
      //   top: rem(380);
      //   right: rem(400);
    }
  }

  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(./../images/pattern_hero2.png);
    min-width: rem(570);
    min-height: rem(588);
    filter: blur(7px);

    left: rem(-206);
    bottom: rem(-12);

    @media screen and (min-width: rem($tablet)) {
      min-width: rem(1200);
      min-height: rem(570);
      left: rem(-400);
      bottom: rem(296);
    }
    @media screen and (min-width: rem($desktop)) {
      min-height: rem(620);
      left: rem(1100);
    }
  }
}

.wrapper_title_404 {
  display: grid;
  gap: rem(48);
  justify-self: center;

  @media screen and (min-width: rem($desktop)) {
    gap: rem(72);
  }
}

.title_404 {
  font-family: Montserrat;
  font-size: rem(150);
  line-height: rem(150);
  color: #000000;
  justify-self: center;

  @media screen and (min-width: rem($tablet)) {
    font-size: rem(200);
    line-height: rem(200);
  }
  @media screen and (min-width: rem($desktop)) {
    font-size: rem(300);
    line-height: rem(300);
  }
}

.desc_404 {
  font-weight: 700;
  color: #333333;
  justify-self: center;
}

.wrapper_button_404 {
  display: grid;
  gap: rem(12);
  justify-self: center;
  grid-auto-flow: column;

  @media screen and (min-width: rem($tablet)) {
    gap: rem(32);
  }
}

.button_white {
  @extend %button;

  padding: rem(12) rem(36);
  box-shadow: 0px 0px 0px rem(1);
  color: $accent_color;
  background-color: $white;

  &:hover,
  &:focus {
    color: $white;
    background-color: $accent_color;
    box-shadow: none;
  }

  @media screen and (min-width: rem($tablet)) {
    padding: rem(12) rem(56);
  }
}
