.answers {
  .container {
    display: grid;
    gap: rem(32);
    align-items: start;

    @media screen and (min-width: rem($tablet)) {
      grid-template-columns: 1fr 2fr;
      column-gap: rem(32);
    }
  }
}

.wrapper_answers_title {
  display: grid;
  gap: rem(16);
}

.answers_subtitle {
  display: flex;
  align-items: center;
}

.answers_list {
  display: grid;
  gap: rem(16);

  @media screen and (min-width: rem($tablet)) {
    gap: rem(24);
  }

  .accordion_item {
    display: flex;
    flex-direction: column;
    gap: rem(8);
  }
}

// _________________accordion_______________________
.button_accordion {
  border: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $black;

  padding: rem(24) 0 0 0;
  background-color: inherit;
  text-align: left;
  color: $title_color;
  font-family: Arial;
  font-size: rem(20);
  line-height: rem(28);
  cursor: pointer;
  transition: all $transition;

  &.border_top_none {
    border-top: none;
  }

  @media screen and (min-width: rem($desktop)) {
    font-size: rem(24);
    line-height: rem(32);
    padding: rem(32) 0 0 0;
  }
}

// .active_accordion,
// .button_accordion :focus {
//   border: 0;
// }

.button_accordion:after {
  content: "";
  width: rem(24);
  height: rem(24);
  padding: rem(8);
  background-image: url("./../images/up_arrow.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.active_accordion:after {
  content: "";
  width: rem(24);
  height: rem(24);

  padding: rem(8);
  background-image: url("./../images/down_arrow.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height $transition;
}
