.benefits {
  .make_grid {
    align-items: start;
    gap: rem(32);
    @media screen and (min-width: rem($tablet)) {
      grid-template-columns: 1fr 2fr;
      column-gap: rem(32);
    }
  }

  .wrapper_benefits_title {
    display: grid;
    gap: rem(16);
    @media screen and (min-width: rem($desktop)) {
      gap: rem(32);
    }
  }

  .wrapper_benefits_desc {
    display: grid;
    gap: rem(24);
    @media screen and (min-width: rem($desktop)) {
      gap: rem(40);
    }
  }

  .wrapper {
    display: grid;
    gap: rem(24);

    @media screen and (min-width: rem($tablet)) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: rem($desktop)) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: rem(80);
    }
  }
}

.benefits_subtitle {
  display: flex;
  align-items: center;
}

.number_wrapper {
  display: flex;
  align-items: center;
  gap: rem(18);
}

.number_black {
  font-family: Arial;
  font-weight: 700;
}
