.contact_us {
  background-color: $black;

  .container {
    @media screen and (min-width: rem($tablet)) {
      grid-template-columns: 1fr 2fr;
      column-gap: rem(32);
    }

    .title_line::after {
      background-color: $white;
    }
  }
}

.contact_us_form {
  @media screen and (min-width: rem($tablet)) and (max-width: rem($desktop)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr;
  }

  @media screen and (min-width: rem($desktop)) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.wrapper_subtitle {
  @media screen and (max-width: rem($tablet - 2)) {
    margin-bottom: rem(32);
  }
}
.contact_us_subtitle {
  display: flex;
  align-items: center;
}

.contact_us_title {
  font-weight: 400;
  margin-bottom: rem(32);
}

.list_input {
  margin-bottom: rem(32);

  @media screen and (min-width: rem($tablet)) {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form_label {
    display: block;

    &:first-child {
      margin-bottom: rem(24);
    }

    @media screen and (min-width: rem($tablet)) {
      &:first-child {
        margin-bottom: 0;
        margin-right: rem(24);
      }
      &:last-child {
        min-width: rem(240);
      }
    }

    @media screen and (min-width: rem($desktop)) {
      margin-right: rem(40);

      &:first-child {
        min-width: rem(240);
        margin-right: rem(40);
      }
      &:last-child {
        min-width: rem(272);
      }
    }
  }
}

.text_label {
  display: inline-block;
  margin-bottom: rem(16);
}

.form_input {
  display: block;
  padding: 0 0 rem(8) 0;
  width: 100%;
  background-color: inherit;
  border: rem(1) solid transparent;
  border-bottom-color: $white;
  color: $white;
  transition: border-bottom-color 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:not(:placeholder-shown) {
    outline: none;
    border-bottom-color: $text_color;
  }
}

.form_button {
  @extend %button;
  width: 100%;
  margin-bottom: rem(24);
  color: $white;
  background-color: $accent_color;

  &:hover,
  &:focus {
    color: $accent_color;
    background-color: $white;
    box-shadow: 0 0 rem(1) rem(1) $accent_color;
  }

  @media screen and (min-width: rem($tablet)) {
    margin-bottom: 0;
    max-width: rem(200);

    grid-row-start: 2;
    grid-column-start: 1;
  }

  @media screen and (min-width: rem($desktop)) {
    &.contact_us {
      margin-right: 0;
      grid-row-start: 1;
      grid-column-start: 3;
      align-self: center;
      justify-self: end;
    }
  }
}

.form_consent {
  color: #c4c4c4;
  @media screen and (max-width: rem($tablet)) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: rem($tablet)) {
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: center;
  }
  @media screen and (min-width: rem($desktop)) {
    &.contact_us {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 3;
      align-self: start;
    }
  }

  .accent {
    color: $accent_color;
  }
}

// _____________contact_us leave a comment__________________
.form_leave_comment {
  @media screen and (min-width: rem($tablet)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr;
  }
  @media screen and (min-width: rem($desktop)) {
    grid-template-columns: 1fr 2fr;
  }
}

.leave_comment {
  .container {
    @media screen and (min-width: rem($tablet)) {
      grid-template-columns: 1fr 2fr;
      column-gap: rem(32);
    }

    @media screen and (min-width: rem($desktop)) {
      column-gap: rem(216);
    }
  }
}

.contact_us_description {
  margin-bottom: rem(32);
  font-family: Arial;
  font-size: 20px;
  line-height: 28px;
  color: #c4c4c4;

  @media screen and (min-width: rem($tablet)) {
    margin-bottom: 0;
  }
}

.list_leave_comment {
  margin-bottom: rem(24);
  grid-column-start: 1;
  grid-column-end: 3;
}

.label_wrapper {
  @media screen and (min-width: rem($tablet)) {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(24);
  }
}

.form_label {
  &.leave_comment {
    @media screen and (max-width: rem($tablet - 2)) {
      display: block;
      margin-bottom: rem(24);
    }
  }
}

.margin_bot_16 {
  margin-bottom: rem(16);
}

.form_input {
  &.padding_0 {
    padding: 0;
  }

  &.input_name {
    @media screen and (min-width: rem($tablet)) {
      min-width: rem(190);
    }
    @media screen and (min-width: rem($desktop)) {
      min-width: rem(252);
    }
  }
  &.input_email {
    @media screen and (min-width: rem($tablet)) {
      min-width: rem(250);
    }
    @media screen and (min-width: rem($desktop)) {
      min-width: rem(286);
    }
  }
}

.form_consent {
  &.leave_comment {
    @media screen and (min-width: rem($desktop)) {
      max-width: rem(340);
    }
  }
}
