.contact_us {
  position: relative;
  overflow: hidden;
  background-color: $black;

  .container {
    position: relative;
    z-index: 10;
    display: grid;
    gap: rem(32);
    @media screen and (min-width: rem($tablet)) {
      grid-template-columns: 1fr 2fr;
      column-gap: rem(32);
    }

    .title_line::after {
      background-color: $white;
    }
  }
}

.wrapper_form {
  position: relative;
  z-index: 10;
  display: grid;
  gap: rem(32);
}

.contact_us_form {
  display: grid;
  gap: rem(32);

  @media screen and (min-width: rem($tablet)) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: rem(24);
    row-gap: rem(32);
  }

  @media screen and (min-width: rem($desktop)) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.contact_us_subtitle {
  display: flex;
  align-items: center;
}

.contact_us_title {
  font-weight: 400;
}

.list_input {
  display: grid;
  gap: rem(24);

  @media screen and (min-width: rem($tablet)) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    grid-column-start: 1;
    grid-column-end: 3;
  }
  @media screen and (min-width: rem($desktop)) {
    gap: rem(44);
  }
}

.text_label {
  display: inline-block;
}

.form_input {
  display: block;
  padding: rem(16) 0 rem(8) 0;
  width: 100%;
  background-color: inherit;
  border: rem(1) solid transparent;
  border-bottom-color: $white;
  color: $white;
  transition: border-bottom-color 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:not(:placeholder-shown) {
    outline: none;
    border-bottom-color: $text_color;
  }
}

.form_button {
  @extend %button;
  width: 100%;
  color: $white;
  background-color: $accent_color;
  padding: rem(12) rem(56);
  justify-self: start;
  align-self: end;

  &:hover,
  &:focus {
    color: $accent_color;
    background-color: $white;
    box-shadow: 0 0 0 rem(1) $accent_color;
  }

  @media screen and (min-width: rem($tablet)) {
    max-width: rem(200);

    grid-row-start: 2;
    grid-column-start: 1;
  }

  @media screen and (min-width: rem($desktop)) {
    &.contact_us {
      align-self: start;
      grid-row-start: 1;
      grid-column-start: 3;
    }
  }
}

.form_consent {
  color: #c4c4c4;
  @media screen and (max-width: rem($tablet)) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: rem($tablet)) {
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: center;
  }
  @media screen and (min-width: rem($desktop)) {
    &.contact_us {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 3;
      align-self: start;
    }
  }

  .accent {
    color: $accent_color;

    &:hover,
    :focus {
      text-decoration: underline;
    }
  }
}

// _____________contact_us leave a comment__________________
.wrapper_leave_comment {
  display: grid;
  gap: rem(16);
}

.form_leave_comment {
  display: flex;
  flex-direction: column;
  row-gap: rem(32);

  @media screen and (min-width: rem($tablet)) {
    display: grid;
    row-gap: rem(24);
  }
  @media screen and (min-width: rem($desktop)) {
    grid-template-columns: 1fr 2fr;
  }
}

.leave_comment {
  .container {
    @media screen and (min-width: rem($tablet)) {
      grid-template-columns: 1fr 2fr;
      column-gap: rem(32);
    }

    @media screen and (min-width: rem($desktop)) {
      column-gap: rem(216);
    }
  }
}

.contact_us_description {
  font-family: Arial;
  font-size: rem(20);
  line-height: rem(28);
  color: #c4c4c4;
}

.list_leave_comment {
  display: grid;
  gap: rem(32);
  grid-column-start: 1;
  grid-column-end: 3;
}

.label_wrapper {
  display: grid;
  gap: rem(24);

  @media screen and (min-width: rem($tablet)) {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
  }

  @media screen and (min-width: rem($desktop)) {
    gap: rem(64);
  }
}

.wrapper_button {
  display: grid;
  row-gap: rem(24);
  @media screen and (min-width: rem($tablet)) {
    row-gap: 0;
    column-gap: rem(24);
    grid-template-columns: 1fr 1.1fr;
  }
  @media screen and (min-width: rem($desktop)) {
    grid-column-start: span 2;
    grid-template-columns: 1fr 2fr;
    column-gap: rem(32);
  }
}

.form_consent {
  &.leave_comment {
    @media screen and (min-width: rem($desktop)) {
      max-width: rem(382);
    }
  }
}

.form_error {
  position: absolute;
  color: #ff0000;
  text-align: left;
  font-size: rem(10);
  line-height: rem(16);
  display: block;
  margin-top: 2px;
  display: none;
}

.form_error_mark {
  position: absolute;
  content: "";
  color: #ff0000;
  display: block;
  font-size: rem(14);
  line-height: rem(20);
  display: none;
}

input:invalid:not(:placeholder-shown) {
  border-bottom-color: #ff0000;
}

input:invalid:not(:placeholder-shown) + .form_error {
  display: block;
}

input:invalid:not(:placeholder-shown) + .form_error_mark {
  display: block;
}
