.footer {
  padding: rem(40) 0 rem(40) 0;
  background-color: $black;

  .container {
    @media screen and (max-width: rem($tablet - 2)) {
      text-align: center;
      justify-items: center;
    }
  }
}

.footer_wrapper {
  display: flex;
  gap: rem(40);
  flex-direction: column;
  @media screen and (min-width: rem($tablet)) {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    column-gap: rem(80);
  }

  .footer_title {
    font-size: rem(16);
    line-height: rem(24);
  }
}

.link_logo {
  @media screen and (max-width: rem($tablet - 2)) {
    display: flex;
    justify-content: center;
  }
}

.header_logo_img {
  &.footer_logo {
    max-width: rem(160);

    @media screen and (min-width: rem($tablet)) {
      max-width: rem(200);
    }
  }
}

.title_footer_wrapper {
  display: grid;
  gap: rem(16);
  align-content: start;

  // @media screen and (min-width: rem($tablet)) and (max-width: rem($desktop - 2)) {
  //   justify-self: end;
  //   &.justify_self_start {
  //     justify-self: start;
  //   }
  // }
}

.info_list {
  display: grid;
  gap: rem(8);
}

.contacts_list {
  display: grid;
  gap: rem(8);
}

.footer_copyright {
  text-align: center;
  grid-column: 1/4;
}
