.header {
  padding-top: rem(16);
  padding-bottom: rem(16);
  background-color: $black;

  .container {
    grid-template-columns: 1fr 4fr;

    @media screen and (min-width: rem($tablet)) {
      grid-template-columns: 1fr 4fr auto;
      grid-column-gap: rem(48);
    }
    align-items: center;
  }

  .button_black {
    display: none;

    @media screen and (min-width: rem($tablet)) {
      display: block;
    }
  }
}

.header_logo_img {
  max-width: rem(142);

  @media screen and (min-width: rem($desktop)) {
    max-width: rem(200);
  }
}

.language_dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: rem(10);
}

.language_img {
  width: rem(20);
  height: rem(20);
}

.language_select {
  color: $white;
  background-color: inherit;
  border: none;
  outline: none;
}
// .language_select:active {
//   background-color: $white;
// }

.language_select {
  &:hover {
    cursor: pointer;
    border: none;
    outline: none;
    // background-color: $white;
    color: $accent_color;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.09));
  }
}

.language_option {
  &:hover {
    cursor: pointer;
    color: $accent_color;
  }
}
