.hero {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: rem(16);
  padding-bottom: rem(90);
  background-color: $black;

  &.add_before_pattern {
    &::before {
      left: -20%;
      bottom: 30%;
      @media screen and (min-width: rem($tablet)) {
        bottom: -40%;
      }
    }
  }
  &.add_after_pattern {
    &::after {
      width: rem(580);
      height: rem(580);
      bottom: 0;
      left: 20%;
      transform: rotate(-20deg);

      @media screen and (min-width: rem($tablet)) {
        bottom: 15%;
        left: 60%;
        transform: rotate(8.12deg);
      }
      @media screen and (min-width: rem($desktop)) {
        width: rem(1200);
        height: rem(1200);
        bottom: -45%;
        left: 55%;
      }
    }
  }

  @media screen and (min-width: rem($tablet)) {
    padding-top: rem(24);
    padding-bottom: rem(72);
  }
  @media screen and (min-width: rem($desktop)) {
    padding-top: rem(32);
    padding-bottom: rem(172);
  }

  .container {
    &.container_hero {
      gap: rem(48);
      @media screen and (min-width: rem($tablet)) {
        gap: rem(56);
      }
    }
  }
}

.hero_title {
  color: $white;
}

.hero_list {
  position: relative;
  z-index: 11;
  display: grid;
  gap: rem(32);
  padding-left: rem(20);
  color: $white;
  list-style: url("./../images/list_elipse.svg");

  .item {
    padding-left: rem(16);
    @media screen and (max-width: rem($tablet - 2)) {
      max-width: 75%;
    }
  }

  @media screen and (min-width: rem($tablet)) {
    grid-template-columns: 1fr 1fr 1.3fr;
  }
  @media screen and (min-width: rem($desktop)) {
    grid-template-columns: 1fr 1fr 1.2fr 1fr;
    gap: rem(64);
  }
}

.button_wrapper {
  position: relative;
  z-index: 11;

  display: grid;
  grid-auto-flow: column;
  gap: rem(12);
  justify-self: start;

  @media screen and (min-width: rem($tablet)) {
    gap: rem(32);
  }
}

.button_orange {
  @extend %button;
  padding: rem(12) rem(24);

  color: $white;
  background-color: $accent_color;

  &:hover,
  &:focus {
    color: $accent_color;
    background-color: $white;
    box-shadow: 0px 0px 0px rem(1);
  }
  @media screen and (min-width: rem(364)) {
    padding: rem(12) rem(36);
  }
  @media screen and (min-width: rem($tablet)) {
    padding: rem(12) rem(56);
  }
}

.button_black {
  @extend %button;
  padding: rem(12) rem(24);
  box-shadow: 0px 0px 0px rem(1);
  color: $accent_color;
  background-color: $black;

  &:hover,
  &:focus {
    color: $white;
    background-color: $accent_color;
    box-shadow: none;
  }

  @media screen and (min-width: rem(364)) {
    padding: rem(12) rem(36);
  }
  @media screen and (min-width: rem($tablet)) {
    padding: rem(12) rem(56);
  }
  @media screen and (min-width: rem($tablet)) {
    padding: rem(12) rem(56);
  }
}
