.hero {
  position: relative;
  padding-top: rem(64);
  padding-bottom: rem(90);

  background-color: $black;

  .container {
    grid-template-columns: 1fr;
    gap: rem(48);
    @media screen and (min-width: rem($tablet)) {
      gap: rem(56);
    }
  }

  &::before {
    position: absolute;
    z-index: 10;
    content: "";
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: rem(430);
    @media screen and (min-width: rem($tablet)) {
      height: rem(570);
    }
    @media screen and (min-width: rem($desktop)) {
      height: rem(620);
    }
    background-image: url(./../images/pattern_hero1.png);
  }

  &::after {
    position: absolute;
    z-index: 10;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    display: inline-block;
    width: rem(570);
    height: rem(588);
    @media screen and (min-width: rem($tablet)) {
      width: rem(1200);
      height: rem(570);
    }
    @media screen and (min-width: rem($desktop)) {
      height: rem(620);
    }
    background-image: url(./../images/pattern_hero2.png);
  }
}

.hero_title {
  color: $white;
}

.hero_list {
  position: relative;
  z-index: 11;
  display: grid;
  gap: rem(32);
  padding-left: rem(20);
  color: $white;
  list-style: url("./../images/list_elipse.svg");

  .item {
    padding-left: rem(16);
  }

  @media screen and (min-width: rem($tablet)) {
    grid-auto-flow: column;
  }
  @media screen and (min-width: rem($desktop)) {
    grid-template-columns: 1fr 1fr 1.2fr 1fr;
    gap: rem(64);
  }
}

.button_wrapper {
  position: relative;
  z-index: 11;

  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  justify-self: start;
}

.button_orange {
  @extend %button;
  padding: rem(12) rem(24);

  color: $white;
  background-color: $accent_color;

  &:hover,
  &:focus {
    color: $accent_color;
    background-color: $white;
    box-shadow: 0px 0px 0px rem(1);
  }
  @media screen and (min-width: rem(364)) {
    padding: rem(12) rem(36);
  }
  @media screen and (min-width: rem($tablet)) {
    padding: rem(12) rem(56);
  }
}

.button_black {
  @extend %button;
  padding: rem(12) rem(24);
  box-shadow: 0px 0px 0px rem(1);
  color: $accent_color;
  background-color: $black;

  &:hover,
  &:focus {
    color: $white;
    background-color: $accent_color;
    box-shadow: none;
  }

  @media screen and (min-width: rem(364)) {
    padding: rem(12) rem(36);
  }
  @media screen and (min-width: rem($tablet)) {
    padding: rem(12) rem(56);
  }
  @media screen and (min-width: rem($tablet)) {
    padding: rem(12) rem(56);
  }
}
