.ideas {
  .container {
    gap: rem(32);
    @media screen and (min-width: rem($tablet)) {
      grid-template-columns: 1fr 2fr;
      column-gap: rem(32);
    }
  }
}

.ideas_subtitle {
  display: flex;
  align-items: center;

  @media screen and (max-width: rem($tablet)) {
  }
}

.wrapper_ideas {
  gap: rem(72);
  @media screen and (min-width: rem($desktop)) {
    gap: rem(80);
  }
}

.ideas_title {
  font-weight: 400;
}

.ideas_list {
  display: grid;
  gap: rem(64);
  justify-self: end;
  padding-left: rem(96);

  @media screen and (min-width: rem($tablet)) {
    padding-left: rem(88);
  }

  @media screen and (min-width: rem($desktop)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: rem(128);
    row-gap: rem(80);
  }

  .ideas_item {
    position: relative;
  }

  .ideas_number {
    @extend %absolute_number;
    top: rem(-40);
    left: rem(-96);

    @media screen and (min-width: rem($tablet)) {
      top: rem(-40);
      left: rem(-96);
    }

    @media screen and (min-width: rem($desktop)) {
      top: rem(-44);
      left: rem(-88);
    }
  }
}
