.ideas {
  .container {
    @media screen and (min-width: rem($tablet)) {
      grid-template-columns: 1fr 2fr;
      column-gap: 32px;
    }
  }
}

.ideas_subtitle {
  @media screen and (max-width: rem($tablet)) {
    margin-bottom: rem(32);
  }
}

.ideas_title {
  margin-bottom: rem(72);
  font-weight: 400;
}

.ideas_list {
  max-width: rem(272);
  margin-left: auto;

  @media screen and (min-width: rem($tablet)) {
    max-width: rem(376);
  }

  @media screen and (min-width: rem($desktop)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: rem(128);
    row-gap: rem(80);
    padding-left: rem(80);
    max-width: none;
  }

  .ideas_item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: rem(64);

      @media screen and (min-width: rem($tablet)) {
        margin-bottom: rem(92);
      }

      @media screen and (min-width: rem($desktop)) {
        margin-bottom: 0;
      }
    }
  }

  .ideas_number {
    @extend %absolute_number;
    top: rem(-40);
    left: rem(-96);

    @media screen and (min-width: rem($tablet)) {
      top: rem(-40);
      left: rem(-96);
    }

    @media screen and (min-width: rem($desktop)) {
      top: rem(-44);
      left: rem(-88);
    }
  }
}
