.portfolio {
  background-color: $black;

  .container {
    padding: 0 0 0 rem(20);

    @media screen and (min-width: rem($tablet)) {
      display: grid;
      gap: rem(32);
      align-items: start;

      grid-template-columns: 1fr 2fr;
      column-gap: rem(32);
    }

    .title_line::after {
      background-color: $white;
    }
  }

  .portfolio_title {
    @media screen and (max-width: rem($tablet - 2)) {
      margin-bottom: rem(32);
    }
  }

  .carousel__slide {
    padding: rem(16) rem(8) rem(16) rem(8);
    width: var(--carousel-slide-width);
    @media screen and (min-width: rem($tablet)) {
      width: var(--carousel-slide-width, 70%);
    }

    @media screen and (min-width: rem($desktop)) {
      padding: rem(16);
      width: var(--carousel-slide-width, 40%);
    }
  }
}

.wrapper_portfolio_title {
  display: grid;
  gap: rem(16);
  @media screen and (min-width: rem($desktop)) {
    gap: rem(32);
  }
}

.portfolio_subtitle {
  display: flex;
  align-items: center;
}

.carousel_subtitle {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    margin-right: 16px;
    background-color: $white;
    display: inline-block;
    width: rem(48);
    height: rem(1);
  }
}

.carousel_link {
  display: grid;
  row-gap: rem(24);
}

.carousel_number {
  font-size: rem(16);
  line-height: rem(24);
  color: #c4c4c4;
  // margin-left: 75%;
  @media screen and (max-width: rem($tablet - 2)) {
    margin-left: 75%;
  }

  @media screen and (min-width: rem($tablet)) {
    margin-left: 80%;
  }
}

#myCarousel {
  --carousel-button-width: rem(24);
  --carousel-button-height: rem(24);

  --carousel-button-svg-width: rem(24);
  --carousel-button-svg-height: rem(24);
  color: #c4c4c4;
}

.carousel__button.is-prev {
  z-index: 10;
  left: 70%;
}

.carousel__button.is-next {
  z-index: 10;
  right: 9%;
  @media screen and (min-width: rem($tablet)) {
    right: 16%;
  }
  @media screen and (min-width: rem($desktop)) {
    right: 17.5%;
  }
}

.carousel__button.is-prev,
.carousel__button.is-next {
  top: 97%;
  transition: $transition;

  &:hover {
    color: $white;
  }
}
