.subscription_plans {
  .container {
    display: grid;
    gap: rem(64);
    @media screen and (min-width: rem($desktop)) {
      gap: rem(160);
    }
  }
}

.subscription_plans_wrapper {
  display: grid;
  gap: rem(64);

  @media screen and (min-width: rem($tablet)) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: rem(32);
  }
}

.wrapper_subscription_title {
  display: grid;
  gap: rem(16);
  align-content: start;

  @media screen and (min-width: rem($desktop)) {
    gap: rem(40);
  }
}

.sub_plans_subtitle {
  display: flex;
  align-items: center;
}

.sub_plans_title {
  @media screen and (min-width: rem($tablet)) {
  }
}

.sub_plans_list {
  display: grid;
  gap: rem(56);
  padding-left: rem(56);

  @media screen and (min-width: rem($tablet)) {
    padding-top: rem(16);
  }

  @media screen and (min-width: rem($desktop)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(88);
    row-gap: rem(100);
  }
}

.plans_item {
  position: relative;
}

.plans_number {
  @extend %absolute_number;
  top: -28px;
  left: -56px;

  @media screen and (min-width: rem($tablet)) {
    top: -28px;
    left: -56px;
  }

  @media screen and (min-width: rem($desktop)) {
    top: -28px;
    left: -56px;
  }
}

// _________card___________

.plans_cards {
  text-align: center;
  display: grid;
  gap: rem(36);
  justify-content: center;

  @media screen and (min-width: rem($tablet)) {
    display: flex;
    gap: rem(24);
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: rem($desktop)) {
    display: grid;
    gap: rem(32);
    grid-auto-flow: column;
  }
}

.card {
  display: grid;
  gap: rem(24);
  padding: rem(24);
  border: rem(1) solid #c4c4c4;
  border-radius: rem(6);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.09);
  }

  @media screen and (min-width: rem($tablet)) {
    padding: rem(48) rem(48);
    gap: rem(40);
  }
}

.wrapper_title_card {
  display: grid;
  gap: rem(16);
}

.card_title {
  color: $title_color;
}

.payment_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price {
  color: $title_color;
  font-weight: 500;
  font-size: rem(32);
  line-height: rem(32);

  .price_dollar {
    font-size: rem(14);
    line-height: rem(14);
  }

  .price_sub {
    vertical-align: super;
    font-size: rem(16);
    line-height: rem(32);
  }
}

.price_per {
  font-size: rem(12);
  line-height: rem(20);
}

.card_list {
  display: grid;
  gap: rem(16);
  text-align: left;

  padding: 0 rem(32);
  list-style: url("./../images/list_elipse_outline_gr.svg");

  @media screen and (min-width: rem($tablet)) {
    padding: 0 0 0 rem(16);
  }

  .item {
    &:first-child {
      list-style: url("./../images/list_elipse_outline.svg");
    }

    &.list_style_orange:nth-child(-n + 3) {
      list-style: url("./../images/list_elipse_outline.svg");
    }
    &.list_style_orange {
      list-style: url("./../images/list_elipse_outline.svg");
    }
  }
}

.card_button {
  @extend %button;
  min-width: rem(200);
  color: $white;
  background-color: $accent_color;
  padding: rem(12) rem(56);
  justify-self: center;

  &:hover,
  &:focus {
    color: $accent_color;
    background-color: $white;
    box-shadow: 0 0 rem(1) rem(1) $accent_color;
  }
}

.payment {
  font-size: rem(12);
  line-height: rem(20);
}

.payment_price {
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(32);

  .payment_price_dollar {
    font-size: rem(14);
    line-height: rem(14);
  }

  .payment_price_sub {
    vertical-align: super;

    font-size: rem(10);
    line-height: rem(12);
  }
}
