.contact_us {
  background-color: $color_black;

  .container {
    @media screen and (min-width: rem($tablet_screen)) {
      grid-template-columns: 1fr 2fr;
      column-gap: rem(32);
    }

    .title_line::after {
      background-color: $color_white;
    }
  }
}

.contact_us_form {
  @media screen and (min-width: rem($tablet_screen)) and (max-width: rem($desktop_screen)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr;
  }

  @media screen and (min-width: rem($desktop_screen)) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.contact_us_subtitle {
  @media screen and (max-width: rem($tablet_screen - 2)) {
    margin-bottom: rem(32);
  }
}

.contact_us_title {
  font-weight: 400;
  margin-bottom: rem(32);
}

.list_input {
  margin-bottom: rem(32);

  @media screen and (min-width: rem($tablet_screen)) {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form_label {
    display: block;

    &:first-child {
      margin-bottom: rem(24);
    }

    @media screen and (min-width: rem($tablet_screen)) {
      &:first-child {
        margin-bottom: 0;
        margin-right: rem(24);
      }
      &:last-child {
        min-width: rem(240);
      }
    }

    @media screen and (min-width: rem($desktop_screen)) {
      margin-right: rem(40);

      &:first-child {
        min-width: rem(240);
        margin-right: rem(40);
      }
      &:last-child {
        min-width: rem(272);
      }
    }
  }
}

.text_label {
  display: inline-block;
  margin-bottom: rem(16);
}

.form_input {
  display: block;
  padding: rem(8) rem(8) rem(8) 0;
  width: 100%;
  background-color: inherit;
  border: rem(1) solid transparent;
  border-bottom-color: $color_white;
  color: $color_white;
  transition: border-bottom-color 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:not(:placeholder-shown) {
    outline: none;
    border-bottom-color: $text_color;
  }
}

.form_button {
  @extend %button;
  width: 100%;
  margin-bottom: rem(24);
  color: $color_white;
  background-color: $accent_color;

  &:hover,
  &:focus {
    color: $accent_color;
    background-color: $color_white;
    box-shadow: 0 0 rem(1) rem(1) $accent_color;
  }

  @media screen and (min-width: rem($tablet_screen)) {
    margin-bottom: 0;
    max-width: rem(200);

    grid-row-start: 2;
    grid-column-start: 1;
  }

  @media screen and (min-width: rem($desktop_screen)) {
    margin-right: 0;
    grid-row-start: 1;
    grid-column-start: 3;
    align-self: center;
    justify-self: end;
  }
}

.form_consent {
  max-width: rem(304);
  color: #c4c4c4;

  @media screen and (min-width: rem($tablet_screen)) {
    max-width: rem(224);
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: center;
  }
  @media screen and (min-width: rem($desktop_screen)) {
    max-width: none;
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .accent {
    color: $accent_color;
  }
}
